body {
  padding-top: 70px;
  padding-bottom: 30px;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.top-buffer { margin-top:30px; }

.row {
  display: flex;
  align-items: center;
}

.bibtex {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px 1em;
    font-size : 14px;
    color: black;
    background-color: #ffffff;
    border:0px;
}

.content
{
    width : 800px;
    padding : 25px 25px;
    margin : 25px auto;
    background-color : #fff;
    border-radius: 20px;
    border : #e3e1e4 1px solid;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.carousel-control {
  color: #ffffff;
}

.glyphicon.glyphicon-chevron-right{
   color:gray;
}

.glyphicon.glyphicon-chevron-left{
   color:gray;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}